/*
	Theme Name: News Pro Theme
	Theme URI: http://my.studiopress.com/themes/news/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/
	Version: 3.0.1
 
	Tags: black, red, white, one-column, two-columns, three-columns, responsive-layout, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page
 
	Template: genesis
	Template Version: 2.0.1
 
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Genesis Responsive Slider
		- Genesis Tabs
		- Gravity Forms
		- Jetpack
		- Simple Social Icons
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Home Page
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- News Pro Blue
		- News Pro Green
		- News Pro Pink
		- News Pro Orange
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

/* Float Clearing
--------------------------------------------- */

.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before  {
	content: " ";
	display: table;
}

.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background-color: #f6f5f2;
	color: #666;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

a {
	color: #ff0000;
	text-decoration: none;
}

a img {
	margin-bottom: -4px;
}

a:hover {
	color: #000;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px 40px 24px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-size: 14px;
	padding: 16px;
	width: 100%;
}

input[type="checkbox"], 
input[type="radio"], 
input[type="image"] {
	width: auto;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: #000;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	padding: 16px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	background-color: #ff0000;
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	margin: 60px auto;
	max-width: 1140px;
}

.news-pro-landing .site-container {
	max-width: 960px;
}

.site-inner {
	clear: both;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 960px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	float: right;
	width: 778px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content {
	border-right: 1px solid #e3e3e3;
	float: left;
}

.sidebar-content-sidebar .content {
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	float: left;
}

.sidebar-content .content,
.sidebar-sidebar-content .content {
	border-left: 1px solid #e3e3e3;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {	
	width: 600px;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 359px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

.sidebar-sidebar-content .sidebar-primary {
	border-left: 1px solid #e3e3e3;
}

.content-sidebar-sidebar .sidebar-primary {
	border-right: 1px solid #e3e3e3;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	font-size: 14px;
	width: 177px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}


/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.search-form {
	overflow: hidden;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

a.alignnone img,
img.alignnone {
	margin-bottom: 20px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignright {
    max-width: 100%;
}

a.alignleft img,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 16px 0;
}

a.alignright img,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 16px;
}

.entry-content .wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #f3f3f3;
	border-bottom: 1px solid #e3e3e3;
	font-size: 12px;
	margin: 0;
	padding: 20px;
	text-transform: uppercase;
}

.archive-description,
.author-box {
	background-color: #f3f3f3;
	border-bottom: 1px solid #e3e3e3;
	margin: 0;
	overflow: hidden;
	padding: 20px;
}

.author-box-title {
	color: #000;
	font-size: 16px;
	margin-bottom: 4px;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	line-height: 1;
}

.entry-title a,
.sidebar .widget-title a {
	color: #000;
}

.entry-title a:hover {
	color: #ff0000;
}

.widget-title {
	border-top: 3px solid #000;
	border-bottom: 1px solid #e3e3e3;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 24px;
	padding: 16px;
	text-align: center;
	text-transform: uppercase;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.ad {
	margin: 0 4px;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	padding: 0;
}

.featured-content .entry-title {
	font-size: 20px;
	line-height: 1.2;
}

.featured-content p {
	margin-bottom: 20px;
}

/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #999;
}

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input:focus {
	border: 1px solid #ddd;
}

.enews-widget input[type="submit"] {
	background-color: #ff0000;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: #f5f5f5;
	color: #000;
}

.enews form + p {
	margin-top: 20px;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
}

/* Genesis Responsive Slider
--------------------------------------------- */

.news-pro-home .content .genesis_responsive_slider li:before {
	content: "";
	margin: 0;
}

.news-pro-home .content #genesis-responsive-slider,
.news-pro-home .content .genesis_responsive_slider .slides li,
.news-pro-home .content .genesis_responsive_slider .flex-direction-nav li {
	margin: 0;
	padding: 0;
}

.news-pro-home .content #genesis-responsive-slider,
.news-pro-home .content .genesis_responsive_slider li {
	border: none;
}

/* Genesis Tabs
--------------------------------------------- */

.home-top .widget.ui-tabs .entry {
	background: none;
	border: none;
	color: #fff;
	margin: 0;
	overflow: hidden;
	padding: 0;
	min-height: 400px;
}

.home-top .widget.ui-tabs .entry h2 a {
	background: rgba( 0, 0, 0, 0.8 );
	display: inline-block;
	font-weight: 400;
	line-height: 1.2;
	padding: 16px;
	position: relative;
	z-index: 9;
}

.home-top .widget.ui-tabs .entry p {
	background: rgba( 0, 0, 0, 0.8 );
	font-size: 14px;
	margin: 0 24px;
	padding: 12px 24px;
	position: relative;
	z-index: 9;
}

.home-top .widget.ui-tabs .entry h2 {
	margin: 0;
	padding: 24px 24px 8px;
}

.home-top .widget.ui-tabs {
	position: relative;
}

.home-top .ui-tabs ul.ui-tabs-nav {
	bottom: 40px;
	margin: 0 0 0 40px;
	position: absolute;
	right: 40px;
	z-index: 9;
}

.home-top .ui-tabs ul.ui-tabs-nav li {
	border: none;
	margin: 0;
}

.home-top .ui-tabs ul.ui-tabs-nav li::before {
	display: none;
}

.home-top .ui-tabs ul.ui-tabs-nav li a {
	background-color: #000;
	color: #fff;
	display: inline-block;
}

.home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a {
	background-color: #ff0000;
}

.home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a:hover {
	background-color: #fff;
}

.home-top .widget.ui-tabs img {
	position: absolute;
}

.home-top .widget.ui-tabs a {
	color: #fff;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 16px;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Simple Social Icons
--------------------------------------------- */

.simple-social-icons ul li:before {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
}

.site-header .wrap {
	padding: 40px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-left: 40px;
	width: 300px;
}

.site-title {
	font-weight: 700;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #000;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1;
	margin: 10px 0 0;
	text-transform: uppercase;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	padding: 0 40px;
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-title a {
	background-position: top !important;
	float: left;
	min-height: 90px;
	width: 100%;
}


/* Widget Area
--------------------------------------------- */

.widget-area {
	word-wrap: break-word;
}

.site-header .widget-area {
	float: right;
	padding-right: 40px;
	text-align: right;
	width: 800px;
}

.site-header .widget-area li {
	list-style-type: none;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
	margin-right: -4px;
}

.genesis-nav-menu a {
	border-right: 1px solid #e3e3e3;
	color: #000;
	display: block;
	padding: 20px 24px;
	position: relative;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a {
	background-color: #000;
	color: #fff;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	border-top: 1px solid #e3e3e3;	
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-top: none;
	padding: 12px 24px;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a {
	background-color: #000;
	color: #fff;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -44px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .date,
.genesis-nav-menu > .right > a {
	border: none;
	border-left: 1px solid #e3e3e3;
	display: inline-block;
	padding: 20px 24px;
}

.genesis-nav-menu > .search {
	padding: 10px;
}

.genesis-nav-menu .search input[type="search"] {
	font-size: 13px;
	padding: 10px 16px;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu a {
	border: none;
}

.site-header .genesis-nav-menu .sub-menu a {
	border: 1px solid #e3e3e3;
	border-top: none;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	border-bottom: 1px solid #e3e3e3;
	border-top: 3px solid #000;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	border-bottom: 1px solid #e3e3e3;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

.home-top {
	background-color: #f3f3f3;
	border-bottom: 1px solid #e3e3e3;
	clear: both;
	padding: 20px 20px 0;
}

.home-top .featured-content .entry-title {
	font-size: 30px;
}

.home-middle-left {
	border-right: 1px solid #e3e3e3;	
	float: left;
	padding: 20px 20px 0;
	width: 50%;
}

.home-middle-right {
	float: right;
	padding: 20px 20px 0;
	width: 50%;
}

.home-bottom {
	border-top: 1px solid #e3e3e3;
	clear: both;
	padding: 20px 20px 0;
}

/* Entries
--------------------------------------------- */

.entry {
	border-bottom: 1px solid #e3e3e3;
	padding: 40px;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px dotted #e3e3e3;
	margin: 0 -40px;
	padding: 32px 40px 8px;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.after-entry {
	padding: 20px;
}

/* Entry Navigation
--------------------------------------------- */

.archive-pagination {
	clear: both;
	font-size: 14px;
	margin: 40px;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #ff0000;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.entry-comments,
.comment-respond {
	padding: 40px;
}

.entry-comments {
	border-bottom: 1px solid #e3e3e3;
	padding-right: 0;
}

.ping-list {
	margin-bottom: 40px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	color: #000;
	font-weight: 700;
	margin-bottom: 0;
}

.entry-comments .comment-meta {
	font-size: 12px;
	text-transform: uppercase;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}

li.depth-2 {
	background-color: #fff;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.after-entry li,
.news-pro-home .content li,
.sidebar li {
	border-bottom: 1px dotted #e3e3e3;
	list-style-type: none;
	margin-bottom: 12px;
	padding-bottom: 12px;
	word-wrap: break-word;
}

.after-entry li::before,
.news-pro-home .content li::before,
.sidebar li::before {
	content: "\203a";
	font-size: 12px;
	margin: 0 10px;
}

.after-entry li ul,
.news-pro-home .content li ul,
.sidebar li ul {
	border-top: 1px dotted #e3e3e3;
	margin-top: 12px;
	padding-top: 12px;
}

.after-entry ul > li:last-child,
.news-pro-home .content ul > li:last-child,
.sidebar ul > li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.after-entry .widget,
.news-pro-home .content .widget {
	padding-bottom: 20px;
}

.sidebar .widget {
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
	padding: 20px;
}

.sidebar .enews-widget {
	background-color: #000;
}

.sidebar .enews-widget .widget-title {
	color: #fff;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #000;
	color: #fff;
	clear: both;
	padding: 40px 40px 16px;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4,
.footer-widgets-5,
.footer-widgets-6 {
	width: 160px;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4 {
	margin-right: 20px;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4,
.footer-widgets-5 {
	float: left;
}

.footer-widgets-6 {
	float: right;
}

.footer-widgets a {
	color: #fff;
}

.footer-widgets a:hover {
	color: #ff0000;
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .widget-title {
	border: none;
	color: #fff;
	font-weight: 700;
	padding: 0;
	margin-bottom: 16px;
	text-align: left;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	border-top: 1px solid #333;
	color: #999;
	font-size: 14px;
	padding: 40px 0;
	text-align: center;
}

.site-footer a {
	color: #aaa;
}

.site-footer a:hover {
	color: #ff0000;
}

.site-footer p {
	margin-bottom: 0;
}


/*
Theme Colors
---------------------------------------------------------------------------------------------------- */

/* News Pro Blue
--------------------------------------------- */

.news-pro-blue .entry-title a:hover,
.news-pro-blue .footer-widgets a:hover,
.news-pro-blue .site-footer a:hover,
.news-pro-blue a {
	color: #27a3d1;
}

.news-pro-blue .entry-title a,
.news-pro-blue .genesis-nav-menu a,
.news-pro-blue .sidebar .widget-title a,
.news-pro-blue .site-title a,
.news-pro-blue .site-title a:hover,
.news-pro-blue a:hover {
	color: #000;
}

.news-pro-blue .button,
.news-pro-blue .button:hover,
.news-pro-blue .footer-widgets a,
.news-pro-blue .genesis-nav-menu .current-menu-item > a,
.news-pro-blue .genesis-nav-menu a:hover {
	color: #fff;
}

.news-pro-blue .site-footer a {
	color: #aaa;
}

.news-pro-blue .archive-pagination li a:hover,
.news-pro-blue .archive-pagination li.active a,
.news-pro-blue .button:hover,
.news-pro-blue .enews-widget input[type="submit"],
.news-pro-blue .entry-content .button:hover,
.news-pro-blue .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.news-pro-blue button:hover,
.news-pro-blue input:hover[type="button"],
.news-pro-blue input:hover[type="reset"],
.news-pro-blue input:hover[type="submit"] {
	background-color: #27a3d1;
}

.news-pro-blue .enews-widget input:hover[type="submit"] {
	background-color: #f5f5f5;
}

.news-pro-blue .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a:hover {
	background-color: #fff;
}

/* News Pro Green
--------------------------------------------- */

.news-pro-green .entry-title a:hover,
.news-pro-green .footer-widgets a:hover,
.news-pro-green .site-footer a:hover,
.news-pro-green a {
	color: #7dc246;
}

.news-pro-green .entry-title a,
.news-pro-green .genesis-nav-menu a,
.news-pro-green .sidebar .widget-title a,
.news-pro-green .site-title a,
.news-pro-green .site-title a:hover,
.news-pro-green a:hover {
	color: #000;
}

.news-pro-green .button,
.news-pro-green .button:hover,
.news-pro-green .footer-widgets a,
.news-pro-green .genesis-nav-menu .current-menu-item > a,
.news-pro-green .genesis-nav-menu a:hover {
	color: #fff;
}

.news-pro-green .site-footer a {
	color: #aaa;
}

.news-pro-green .archive-pagination li a:hover,
.news-pro-green .archive-pagination li.active a,
.news-pro-green .button:hover,
.news-pro-green .enews-widget input[type="submit"],
.news-pro-green .entry-content .button:hover,
.news-pro-green .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.news-pro-green button:hover,
.news-pro-green input:hover[type="button"],
.news-pro-green input:hover[type="reset"],
.news-pro-green input:hover[type="submit"] {
	background-color: #7dc246;
}

.news-pro-green .enews-widget input:hover[type="submit"] {
	background-color: #f5f5f5;
}

.news-pro-green .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a:hover {
	background-color: #fff;
}

/* News Pro Pink
--------------------------------------------- */

.news-pro-pink .entry-title a:hover,
.news-pro-pink .footer-widgets a:hover,
.news-pro-pink .site-footer a:hover,
.news-pro-pink a {
	color: #e81857;
}

.news-pro-pink .entry-title a,
.news-pro-pink .genesis-nav-menu a,
.news-pro-pink .sidebar .widget-title a,
.news-pro-pink .site-title a,
.news-pro-pink .site-title a:hover,
.news-pro-pink a:hover {
	color: #000;
}

.news-pro-pink .button,
.news-pro-pink .button:hover,
.news-pro-pink .footer-widgets a,
.news-pro-pink .genesis-nav-menu .current-menu-item > a,
.news-pro-pink .genesis-nav-menu a:hover {
	color: #fff;
}

.news-pro-pink .site-footer a {
	color: #aaa;
}

.news-pro-pink .archive-pagination li a:hover,
.news-pro-pink .archive-pagination li.active a,
.news-pro-pink .button:hover,
.news-pro-pink .enews-widget input[type="submit"],
.news-pro-pink .entry-content .button:hover,
.news-pro-pink .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.news-pro-pink button:hover,
.news-pro-pink input:hover[type="button"],
.news-pro-pink input:hover[type="reset"],
.news-pro-pink input:hover[type="submit"] {
	background-color: #e81857;
}

.news-pro-pink .enews-widget input:hover[type="submit"] {
	background-color: #f5f5f5;
}

.news-pro-pink .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a:hover {
	background-color: #fff;
}

/* News Pro Orange
--------------------------------------------- */

.news-pro-orange .entry-title a:hover,
.news-pro-orange .footer-widgets a:hover,
.news-pro-orange .site-footer a:hover,
.news-pro-orange a {
	color: #ff9000;
}

.news-pro-orange .entry-title a,
.news-pro-orange .genesis-nav-menu a,
.news-pro-orange .sidebar .widget-title a,
.news-pro-orange .site-title a,
.news-pro-orange .site-title a:hover,
.news-pro-orange a:hover {
	color: #000;
}

.news-pro-orange .button,
.news-pro-orange .button:hover,
.news-pro-orange .footer-widgets a,
.news-pro-orange .genesis-nav-menu .current-menu-item > a,
.news-pro-orange .genesis-nav-menu a:hover {
	color: #fff;
}

.news-pro-orange .site-footer a {
	color: #aaa;
}

.news-pro-orange .archive-pagination li a:hover,
.news-pro-orange .archive-pagination li.active a,
.news-pro-orange .button:hover,
.news-pro-orange .enews-widget input[type="submit"],
.news-pro-orange .entry-content .button:hover,
.news-pro-orange .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.news-pro-orange button:hover,
.news-pro-orange input:hover[type="button"],
.news-pro-orange input:hover[type="reset"],
.news-pro-orange input:hover[type="submit"] {
	background-color: #ff9000;
}

.news-pro-orange .enews-widget input:hover[type="submit"] {
	background-color: #f5f5f5;
}

.news-pro-orange .home-top .ui-tabs ul.ui-tabs-nav li.ui-tabs-active a:hover {
	background-color: #fff;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1188px) {

	.site-container {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 780px;
	}

	.content {
		width: 658px;
	}
	
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 480px;
	}
	
	.sidebar-primary {
		width: 300px;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.footer-widgets-5,
	.footer-widgets-6 {
		width: 130px;
	}
	
	.home-top .widget.ui-tabs img {
		max-width: 617px;
	}
	
	.home-top .widget.ui-tabs .entry {
		min-height: 334px;
	}
	
	.site-title {
		margin-top: 0;
	}

}

@media only screen and (max-width: 1023px) {

	.site-container {
		max-width:  780px;
		width: 96%;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.site-inner,
	.title-area,
	.wrap {
		width: 100%;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.footer-widgets-5,
	.footer-widgets-6 {
		margin: 0;
		width: 33.3333%;
	}
	
	.footer-widgets-4 {
		clear: both;
	}
	
	.site-header .title-area,
	.site-header .widget-area {
		padding: 0;
	}
	
	.site-header .title-area {
		padding-bottom: 16px;
	}
	
	.site-header .wrap {
		padding: 20px;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.home-top .widget.ui-tabs .entry h2,
	.site-description,
	.site-header .search-form,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		border: none;
		padding: 12px;
	}
	
	.site-container,
	.site-header .search-form {
		margin: 16px auto ;
	}

	.genesis-nav-menu li.right {
		display: none;
	}
	
	.content {
		border: none;
	}

	.site-footer {
		padding: 24px;
	}
	
	.home-top .widget.ui-tabs .entry {
		background-color: #000;
		padding-bottom: 20px;
	}
	
	.home-top .widget.ui-tabs img {
		display: block;
		max-width: 100%;
		position: relative;
		margin: 0 auto;
	}
	
	.home-top .ui-tabs ul.ui-tabs-nav {
		background-color: #000;
		bottom: auto;
		margin: 0;
		position: relative;
		right: auto;
	}
	
	.home-top .ui-tabs ul.ui-tabs-nav li,
	.home-top .widget.ui-tabs .entry p {
		margin: 0;
	}
	
	.home-top .widget.ui-tabs .entry h2 {
		padding: 0;
	}
	
	.content-sidebar .content,
	.content-sidebar-sidebar .content,
	.sidebar-sidebar-content .sidebar-primary {
		border: none;
	}

}

@media only screen and (max-width: 600px) {

	.five-sixths,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.footer-widgets-5,
	.footer-widgets-6,
	.four-sixths,
	.home-middle-left,
	.home-middle-right,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.home-middle-left {
		border: none;
	}
	
	.header-image .site-header .site-title a {
		background-size: contain !important;
	}
	
	.entry-title {
		font-size: 26px;
	}

}
