/*
	Theme Name: Streamline Pro Theme
	Theme URI: http://my.studiopress.com/themes/streamline/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/
	Version: 2.0.0

	Tags: black, orange, white, one-column, two-columns, three-columns, responsive-layout, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.0.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Menu
	- Content Area
		- Entries
		- After Entry
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- Streamline Pro Blue
		- Streamline Pro Green
	- Media Queries
		- Retina Display
		- max-width: 1159px
		- max-width: 1023px
		- max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before  {
	content: " ";
	display: table;
}

.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background-color: #333;
	color: #444;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.625;
}

body > div {
	font-size: 16px;
	font-size: 1.6rem;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #f77b2e;
	text-decoration: none;
}

a img {
	margin-bottom: -8px;
	margin-bottom: -0.8rem;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px 40px 24px;
	margin: 4rem 4rem 2.4rem;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
	margin: 0 0 1.6rem;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px;
	padding: 1.6rem;
	width: 100%;
}

input[type="checkbox"], 
input[type="radio"], 
input[type="image"] {
	width: auto;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.home-featured .more-link {
	background-color: #f77b2e;
	background: -moz-linear-gradient(top,  #f77b2e 0%, #e66920 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f77b2e), color-stop(100%,#e66920));
	background: -webkit-linear-gradient(top,  #f77b2e 0%,#e66920 100%);
	background: -o-linear-gradient(top,  #f77b2e 0%,#e66920 100%);
	background: -ms-linear-gradient(top,  #f77b2e 0%,#e66920 100%);
	background: linear-gradient(to bottom,  #f77b2e 0%,#e66920 100%);
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px #b15219;
	color: #fff;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77b2e', endColorstr='#e66920',GradientType=0 );
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	text-shadow: -1px -1px #d55f19;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.home-featured .more-link:hover {
	background-color: #e66920;
	background: -moz-linear-gradient(top,  #e66920 0%, #f77b2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e66920), color-stop(100%,#f77b2e));
	background: -webkit-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: -o-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: -ms-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: linear-gradient(to bottom,  #e66920 0%,#f77b2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e66920', endColorstr='#f77b2e',GradientType=0 );
	text-decoration: none;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: 700;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	padding: 0.6rem 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	background-color: #f1f1f1;
	box-shadow: 0 0 10px #222;
	clear: both;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.streamline-pro-landing .site-inner {
	margin: 40px auto;
	margin: 4rem auto;
	max-width: 960px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: right;
	width: 760px;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 380px;
}

.sidebar-content .sidebar-primary {
	float: left;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}

.search-form {
	overflow: hidden;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem;
}

a.alignnone img,
img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignright {
    max-width: 100%;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 10px 0;
	margin: 0 2.4rem 1rem 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 10px 24px;
	margin: 0 0 1rem 2.4rem;
}

.entry-content .wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 5px 0 0;
	margin: 0.5rem 0 0;
	text-align: center;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	background: #444 url(images/lines-diagonal.png);
	background-size: 6px 6px;
	border-bottom: 5px solid #333;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	margin: 0;
	text-shadow: -1px -1px #333;
}

.breadcrumb a:hover {
	color: #fff;
	text-decoration: none;
}

.breadcrumb a::after {
	color: #999;
	content: '\203a';
	font-weight: 700;
	margin: 0 10px;
	margin: 0 1rem;
}

.archive-description,
.author-box {
	background-color: #fff;
}

.archive-description {
	padding: 40px 40px 24px;
	padding: 4rem 4rem 2.4rem;
}

.author-box {
	margin: 2px 0;
	margin: 0.2rem 0;
	padding: 40px;
	padding: 4rem;
}

.author-box-title {
	color: #333;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 5px;
	margin-bottom: 0.5rem;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
}

.entry-title a {
	color: #333;
}

.entry-title a:hover,
.footer-widgets .entry-title a {
	color: #f77b2e;
	text-decoration: none;
}

.footer-widgets .entry-title a:hover {
	color: #fff;
}

.widget-title {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
	text-transform: uppercase;
}

.after-entry .widget-title,
.sidebar .widget-title,
.sidebar .widget-title a {
	color: #aaa;
}

.after-entry .widget-title::before,
.sidebar .widget-title::before {
	content: '//';
	color: #989898;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.archive-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget li {
	list-style-type: none;
	text-align: left;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 2rem;
	text-indent: -2rem;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	margin: 0 0 0 3rem;
	padding: 0;
}

.widget ol > li:last-child,
.widget p:last-child,
.widget ul > li:last-child {
	margin-bottom: 0;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 0 0 24px;
	padding: 0 0 2.4rem;
}

.featured-content .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

.featured-content .entry-header,
.featured-content .entry-content {
	padding: 0;
}

.featured-content .entry:last-child {
	margin: 0;
	padding: 0;
}

.featured-content .entry-meta {
	padding-bottom: 12px;
	padding-bottom: 1.2rem;
}

.featured-content .entry-author,
.featured-content .entry-time,
.featured-content .entry-comments-link {
	display: block;
}

/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget {
	color: #fff;
	text-shadow: -1px -1px #d55f19;
}

.sidebar .enews-widget .widget-title,
.sidebar .enews-widget .widget-title:before {
	color: #fff;
}

.enews-widget input {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.enews-widget input:focus {
	border: 1px solid #ccc;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%);
	background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 );
	color: #333;
	margin: 0;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	width: 100%;
}

.sidebar .enews-widget input:hover[type="submit"] {
	background-color: #eaeaea;
	background: -moz-linear-gradient(top,  #eaeaea 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #eaeaea 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #eaeaea 0%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #eaeaea 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f6f6f6',GradientType=0 );
}

.enews form + p {
	margin-top: 24px;
	margin-top: 2.4rem;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 16px;
	padding: 1.6rem;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: #fff;
	background-size: 3px 1px;
	box-shadow: 0 0 10px #222;
	margin: 0 auto;
	max-width: 1140px;
	padding: 40px;
	padding: 4rem;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 0;
	width: 300px;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 60px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 720px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

.site-header .search-form {
	float: right;
	width: 50%;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #999;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color: #999;
	display: block;
	padding: 0 24px 28px;
	padding: 0 2.4rem 2.8rem;
	position: relative;
	text-shadow: -1px -1px #222;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #fff;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #fff;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	border-top: 1px solid #444;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #333;
	border: 1px solid #444;
	border-top: none;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 14px 24px;
	padding: 1.4rem 2.4rem;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -44px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
	list-style-type: none;
	padding: 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline-block;
	padding: 0 24px 28px;
	padding: 0 2.4rem 2.8rem;
}

.genesis-nav-menu > .date {
	display: inline-block;
	padding: 28px;
	padding: 2.8rem;
}

.genesis-nav-menu > .search {
	padding: 10px 10px 0 0;
	padding: 1rem 1rem 0 0;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu a {
	text-shadow: 1px 1px #fff;
}

.site-header .genesis-nav-menu .current-menu-item > a,
.site-header .genesis-nav-menu a:hover {
	color: #333;
}

.site-header .genesis-nav-menu .sub-menu .current-menu-item > a,
.site-header .genesis-nav-menu .sub-menu a:hover {
	color: #fff;
}

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .genesis-nav-menu .sub-menu a {
	text-shadow: -1px -1px #222;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary .wrap {
	background-color: #333;
}

.nav-primary .genesis-nav-menu a:before {
	content: "";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 40px;
	margin-top: -12px;
	margin-top: -1.2rem;
	text-align: center;
	text-shadow: none;
}

.nav-primary .genesis-nav-menu a:hover:before,
.nav-primary .genesis-nav-menu .current-menu-item > a:before {
	color: #fff;
	content: "\25BE";
}

.nav-primary .genesis-nav-menu .sub-menu a:before,
.nav-primary .genesis-nav-menu .current-menu-item > .sub-menu a:before {
	display: none;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary .wrap {
	background-color: #333;
}

.nav-secondary .genesis-nav-menu > li > a {
	padding: 14px 24px 28px;
	padding: 1.4rem 2.4rem 2.8rem;
}	

/* Responsive Menu
--------------------------------------------- */

#responsive-menu-icon {
	cursor: pointer;
	display: none;
	padding: 17px 0 18px;
	padding: 1.7rem 0 1.8rem;
	text-align: center;
}

#responsive-menu-icon::before {
	content: "\e600";
	color: #999;
	margin: 0 auto;
	speak: none;
	text-shadow: -1px -1px #222;
	text-transform: none;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Featured
--------------------------------------------- */

.home-featured {
	background: #fff url(images/lines-vertical.png);
	background-size: 3px 1px;
	border-bottom: 5px solid #f1f1f1;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.home-featured .widget:first-child {
	padding: 40px;
	padding: 4rem;
}

.home-featured .widget {
	padding: 0 40px 40px;
	padding: 0 4rem 4rem;
}

.home-featured .entry {
	background: none;
}

.home-featured .entry-title {
	text-transform: uppercase;
}

.home-featured .page {
	border: none;
	margin: 0;
	padding: 0;
}

.home-featured p {
	color: #999;
}

.home-featured .more-link {
	display: block;
	margin: 20px auto 0;
	margin: 2rem auto 0;
	max-width: 170px;
	text-transform: none;
}

.home-featured-1,
.home-featured-2,
.home-featured-3 {
	width: 380px;
}

.home-featured-1,
.home-featured-2 {
	border-right: 5px solid #edebe8;
}

.home-featured-1,
.home-featured-2 {
	float: left;
}

.home-featured-3 {
	float: right;
}


/* Entries
--------------------------------------------- */

.content .entry {
	background: #fff;
	background-size: 3px 1px;
	border-bottom: 5px solid #333;
	box-shadow: inset 0px -5px 0px #eaeaea;
}

.page .page,
.single .entry {
	border: none;
	box-shadow: none;
}

.entry-header {
	padding: 40px 40px 0;
	padding: 4rem 4rem 0;
}

.entry-content {
	padding: 0 40px 40px;
	padding: 0 4rem 4rem;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
	margin-left: 4rem;
}

.entry-content ol > li,
.widget ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.content .entry-meta {
	background: #444 url(images/lines-diagonal.png);
	background-size: 6px 6px;
	clear: both;
	color: #999;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0;
	padding: 16px;
	padding: 1.6rem;
	text-transform: uppercase;
	text-shadow: -1px -1px #333;
}

.entry-meta a {
	color: #999;
}

.entry-meta a:hover {
	color: #f77b2e;
	text-decoration: none;
}

.entry-footer {
	margin-top: -40px;
	margin-top: -4rem;
	padding: 0 40px 40px;
	padding: 0 4rem 4rem;
}

.entry-footer .entry-meta {
	background: none;
	padding: 0;
	text-shadow: none;
}

.entry-footer .entry-meta a {
	color: #f77b2e;
}

.entry-author,
.entry-time,
.entry-comments-link {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* Icons
--------------------------------------------- */

@font-face {
	font-family: 'streamline-icons';
	src:url('fonts/streamline-icons.eot');
	src:url('fonts/streamline-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/streamline-icons.ttf') format('truetype'),
		url('fonts/streamline-icons.woff') format('woff'),
		url('fonts/streamline-icons.svg#streamline-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.entry-author:before,
.entry-categories:before,
.entry-comments-link:before,
.entry-tags:before,
.entry-time:before,
.icon-home:before,
#responsive-menu-icon::before {
	-webkit-font-smoothing: antialiased;
	font-family: 'streamline-icons';
	font-size: 1.6rem;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-right: 10px;
	margin-right: 1rem;
	speak: none;
	text-transform: none;
}

.entry-author:before {
	content: "\e608";
}
.entry-tags:before {
	content: "\e605";
}
.entry-comments-link:before {
	content: "\e606";
}
.entry-time:before {
	content: "\e604";
}
.entry-categories:before {
	content: "\e607";
}
.icon-home:before {
	content: "\e603";
}

.entry-categories::before,
.entry-tags::before {
	color: #ccc;
}

/* After Entry
------------------------------------------------------------ */
	
.after-entry {
	background-color: #edebeb;
	clear: both;
	margin: 20px 0 0;
	margin: 2rem 0 0;
	overflow: hidden;
	padding: 24px;
	padding: 2.4rem;
	text-shadow: 1px 1px #fff;
}

.after-entry .widget {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.after-entry .widget:last-child {
	margin: 0;
}

.after-entry .entry {
	padding: 24px;
	padding: 2.4rem;
}

/* Pagination
--------------------------------------------- */

.archive-pagination {
	background: #fff url(images/lines-vertical.png);
	background-size: 3px 1px;
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px;
	padding: 4rem;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #ccc;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px 4px 0;
	margin: 0 0.4rem 0.4rem 0;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #f77b2e;
	text-decoration: none;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background: #fff url(images/lines-vertical.png);
	background-size: 3px 1px;
	padding: 40px;
	padding: 4rem;
}

.entry-pings {
	padding: 0 40px 0 0;
	padding: 0 4rem 0 0;
}

.entry-comments {
	padding-left: 0;
}

.entry-comments h3,
.entry-pings h3 {
	padding-left: 40px;
	padding-left: 4rem;
}

.comment-content {
	clear: both;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	background-color: #edebeb;
	border: 2px solid #fff;
	border-left: none;
	list-style-type: none;
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 40px;
	padding: 4rem;
	text-shadow: 1px 1px #fff;
}

.ping-list li {
	padding-bottom: 16px;
	padding-bottom: 1.6rem;
}

.comment-list li li {
	margin-left: -40px;
	margin-left: -4rem;
}

.comment .avatar {
	float: right;
	margin: 0;
}

.comment-header .comment-author {
	margin: 0;
}

li.depth-2,
li.depth-4,
li.depth-6 {
	background-color: #fff;
}

.comment-metadata {
	padding-bottom: 24px;
	padding-bottom: 2.4rem;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	background-color: #edebeb;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
	padding: 2.4rem;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	text-shadow: 1px 1px #fff;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
}

.sidebar ul > li::before {
	content: '\203a';
	color: #aaa;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	margin-right: 10px;
	margin-right: 1rem;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #eaeaea;
	border-bottom: 2px solid #fff;
	padding: 40px;
	padding: 4rem;
}

.sidebar .enews-widget {
	background-color: #e66920;
	background: -moz-linear-gradient(top,  #e66920 0%, #f77b2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e66920), color-stop(100%,#f77b2e));
	background: -webkit-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: -o-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: -ms-linear-gradient(top,  #e66920 0%,#f77b2e 100%);
	background: linear-gradient(to bottom,  #e66920 0%,#f77b2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e66920', endColorstr='#f77b2e',GradientType=0 );
}

.sidebar .widget_search {
	background: #666 url(images/lines-diagonal.png);
	background-size: 6px 6px;
}

.sidebar .widget_search .widget-title {
	text-shadow: -1px -1px #555;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #1e1e1e;
	color: #aaa;
	clear: both;
	padding: 40px 0 16px;
	padding: 4rem 0 1.6rem;
	text-shadow: -1px -1px #000;
}

.footer-widgets-1,
.footer-widgets-3 {
	width: 350px;
}

.footer-widgets-2 {
	width: 360px;
}

.footer-widgets-1 {
	margin-right: 40px;
	margin-right: 4rem;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets .widget {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.footer-widgets .widget-title {
	color: #aaa;
}

.footer-widgets .widget-title::before {
	color: #aaa;
	content: '//';
	margin-right: 12px;
	margin-right: 1.2rem;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ccc;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #1a1a1a;
	color: #aaa;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0;
	padding: 4rem 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


/*
Theme Colors
---------------------------------------------------------------------------------------------------- */

/* Streamline Pro Blue
--------------------------------------------- */

.streamline-pro-blue a,
.streamline-pro-blue .entry-title a:hover,
.streamline-pro-blue .entry-meta a:hover,
.streamline-pro-blue .entry-footer .entry-meta a,
.streamline-pro-blue .footer-widgets .entry-title a  {
	color: #2989d8;
}

.streamline-pro-blue .entry-title a,
.streamline-pro-blue .site-title a,
.streamline-pro-blue .site-title a:hover,
.streamline-pro-blue .site-header .genesis-nav-menu .current-menu-item > a,
.streamline-pro-blue .site-header .genesis-nav-menu a:hover {
	color: #333;
}

.streamline-pro-blue .genesis-nav-menu a,
.streamline-pro-blue .entry-meta a {
	color: #999;
}

.streamline-pro-blue .footer-widgets .entry-title a:hover,
.streamline-pro-blue .genesis-nav-menu .current-menu-item > a,
.streamline-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.streamline-pro-blue .genesis-nav-menu a:hover,
.streamline-pro-blue .site-header .genesis-nav-menu .sub-menu .current-menu-item > a,
.streamline-pro-blue .site-header .genesis-nav-menu .sub-menu a:hover {
	color: #fff;
}

.streamline-pro-blue .archive-pagination li a:hover,
.streamline-pro-blue .archive-pagination li.active a {
	background-color: #2989d8;
}

.streamline-pro-blue .button,
.streamline-pro-blue .home-featured .more-link,
.streamline-pro-blue button,
.streamline-pro-blue input[type="button"],
.streamline-pro-blue input[type="reset"],
.streamline-pro-blue input[type="submit"] {
	background-color: #2989d8;
	background: -moz-linear-gradient(top,  #2989d8 0%, #2161a5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#2161a5));
	background: -webkit-linear-gradient(top,  #2989d8 0%,#2161a5 100%);
	background: -o-linear-gradient(top,  #2989d8 0%,#2161a5 100%);
	background: -ms-linear-gradient(top,  #2989d8 0%,#2161a5 100%);
	background: linear-gradient(to bottom,  #2989d8 0%,#2161a5 100%);
	box-shadow: 0 1px #1a4b8b;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#2161a5',GradientType=0 );
	text-shadow: -1px -1px #1c4e91;
}

.streamline-pro-blue .button:hover,
.streamline-pro-blue .home-featured .more-link:hover,
.streamline-pro-blue .sidebar .enews-widget,
.streamline-pro-blue button:hover,
.streamline-pro-blue input:hover[type="button"],
.streamline-pro-blue input:hover[type="reset"],
.streamline-pro-blue input:hover[type="submit"] {
	background-color: #2161a5;
	background: -moz-linear-gradient(top,  #2161a5 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2161a5), color-stop(100%,#2989d8));
	background: -webkit-linear-gradient(top,  #2161a5 0%,#2989d8 100%);
	background: -o-linear-gradient(top,  #2161a5 0%,#2989d8 100%);
	background: -ms-linear-gradient(top,  #2161a5 0%,#2989d8 100%);
	background: linear-gradient(to bottom,  #2161a5 0%,#2989d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2161a5', endColorstr='#2989d8',GradientType=0 );
}

.streamline-pro-blue .enews-widget {
	text-shadow: -1px -1px #1c4e91;
}

/* Streamline Pro Blue
--------------------------------------------- */

.streamline-pro-green a,
.streamline-pro-green .entry-title a:hover,
.streamline-pro-green .entry-meta a:hover,
.streamline-pro-green .entry-footer .entry-meta a,
.streamline-pro-green .footer-widgets .entry-title a  {
	color: #5d8c3d;
}

.streamline-pro-green .entry-title a,
.streamline-pro-green .site-header .genesis-nav-menu .current-menu-item > a,
.streamline-pro-green .site-header .genesis-nav-menu a:hover,
.streamline-pro-green .site-title a,
.streamline-pro-green .site-title a:hover {
	color: #333;
}

.streamline-pro-green .genesis-nav-menu a,
.streamline-pro-green .entry-meta a {
	color: #999;
}

.streamline-pro-green .footer-widgets .entry-title a:hover,
.streamline-pro-green .genesis-nav-menu .current-menu-item > a,
.streamline-pro-green .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.streamline-pro-green .genesis-nav-menu a:hover,
.streamline-pro-green .site-header .genesis-nav-menu .sub-menu .current-menu-item > a,
.streamline-pro-green .site-header .genesis-nav-menu .sub-menu a:hover {
	color: #fff;
}

.streamline-pro-green .archive-pagination li a:hover,
.streamline-pro-green .archive-pagination li.active a {
	background-color: #5d8c3d;
}

.streamline-pro-green .button,
.streamline-pro-green .home-featured .more-link,
.streamline-pro-green button,
.streamline-pro-green input[type="button"],
.streamline-pro-green input[type="reset"],
.streamline-pro-green input[type="submit"] {
	background-color: #5d8c3d;
	background: -moz-linear-gradient(top,  #5d8c3d 0%, #406728 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d8c3d), color-stop(100%,#406728));
	background: -webkit-linear-gradient(top,  #5d8c3d 0%,#406728 100%);
	background: -o-linear-gradient(top,  #5d8c3d 0%,#406728 100%);
	background: -ms-linear-gradient(top,  #5d8c3d 0%,#406728 100%);
	background: linear-gradient(to bottom,  #5d8c3d 0%,#406728 100%);
	box-shadow: 0 1px #375822;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d8c3d', endColorstr='#406728',GradientType=0 );
	text-shadow: -1px -1px #3a5f25;
}

.streamline-pro-green .button:hover,
.streamline-pro-green .home-featured .more-link:hover,
.streamline-pro-green .sidebar .enews-widget,
.streamline-pro-green button:hover,
.streamline-pro-green input:hover[type="button"],
.streamline-pro-green input:hover[type="reset"],
.streamline-pro-green input:hover[type="submit"] {
	background-color: #406728;
	background: -moz-linear-gradient(top,  #406728 0%, #5d8c3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#406728), color-stop(100%,#5d8c3d));
	background: -webkit-linear-gradient(top,  #406728 0%,#5d8c3d 100%);
	background: -o-linear-gradient(top,  #406728 0%,#5d8c3d 100%);
	background: -ms-linear-gradient(top,  #406728 0%,#5d8c3d 100%);
	background: linear-gradient(to bottom,  #406728 0%,#5d8c3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406728', endColorstr='#5d8c3d',GradientType=0 );
}

.streamline-pro-green .enews-widget {
	text-shadow: -1px -1px #3a5f25;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
	
	.archive-pagination,
	.comment-respond,
	.entry-comments,
	.entry,
	.home-featured,
	.site-header {
		background-image: url(images/lines-vertical@2x.png);
	}
	
	.breadcrumb,
	.entry-meta,
	.sidebar .widget_search {
		background-image: url(images/lines-diagonal@2x.png);
	}
}

@media only screen and (max-width: 1159px) {

	.site-header,
	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content {
		width: 640px;
	}
	
	.site-header .widget-area {
		width: 580px;
	}
	
	.sidebar-primary,
	.home-featured-1,
	.home-featured-2,
	.home-featured-3 {
		width: 320px;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 300px;
	}
	
	.footer-widgets-1 {
		margin-right: 30px;
		margin-right: 3rem;
	}
	
	.genesis-nav-menu li.right {
		display: none;
	}

}

@media only screen and (max-width: 1023px) {

	.site-header,
	.site-inner,
	.wrap {
		max-width: 760px;
	}

	.content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.sidebar-primary,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	
	.site-header {
		padding: 20px;
		padding: 2rem;
	}
	
	.site-header .widget-area {
		padding-top: 20px;
		padding-top: 2rem;
	}

	.header-image .site-header .site-title a {
		background-position: top !important;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .search-form,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}
	
	.site-header .widget-area .simple-social-icons ul li,
	.site-header .widget-area .simple-social-icons ul.alignleft,
	.site-header .widget-area .simple-social-icons ul.alignright {
		display: inline-block;
		float: none;
		text-align: center;
	}
	
	.genesis-nav-menu {
		padding: 16px;
		padding: 1.6rem;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 6px 16px;
		padding: 0.6rem 1.6rem;
	}
	
	.nav-primary .genesis-nav-menu a:before {
		display: none;
	}

	.site-header .search-form {
		margin: 16px auto ;
		margin: 1.6rem auto;
	}
	
	.home-featured-1,
	.home-featured-2 {
		border: none;
		border-bottom: 5px solid #edebe8;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
		padding-top: 1.2rem;
	}

	.footer-widgets {
		padding: 40px;
		padding: 4rem;
	}

	.footer-widgets-1,
	.site-inner {
		margin: 0 auto;
	}
	
	.site-footer {
		padding: 24px 0;
		padding: 2.4rem 0;
	}

}

@media only screen and (max-width: 767px) {

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.entry-meta {
		display: none;
	}
	
	.entry-footer .entry-meta {
		display: block;
	}
	
	.header-image .site-header .site-title a {
		background-size: contain !important;
	}
	
	.responsive-menu {
		display: none;
	}
	
	#responsive-menu-icon {
		display: block;
	}

}
